DB_CONNECTION=Server=.\SQLEXPRESS;Database=MarketplaceServicios;Trusted_Connection=True;TrustServerCertificate=True
JWT_KEY=CambiarEstaClaveEnProduccion123!
JWT_ISSUER=MarketplaceApi
JWT_AUDIENCE=MarketplaceClient
ADMIN_EMAIL=admin@encoya.com
ADMIN_PASSWORD=CambiarEstaPasswordEnProduccion
